<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921861291496-gjeuhiev0ktiissa6rmmihviif3dph84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921861291496-gjeuhiev0ktiissa6rmmihviif3dph84</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ7rz6u0EsAG3IF5rG4xPfaWffCiLwuOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>921861291496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>as.Game-Logger</string>
	<key>PROJECT_ID</key>
	<string>game-logger-9af03</string>
	<key>STORAGE_BUCKET</key>
	<string>game-logger-9af03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921861291496:ios:064a34780add392772785d</string>
	<key>DATABASE_URL</key>
	<string>https://game-logger-9af03.firebaseio.com</string>
</dict>
</plist>